/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
.logo{
    margin: 25px !important;
}
ul.menu{
    margin-left: 25%;
}
.menu>li a {
    padding: 0 5px !important;
    margin-top: 45px !important;
}
.caret{
    display: none !important;
}